body{
  background-color: rgba(41, 44, 52);
}
code {
  color: rgba(41, 44, 52);
}
.btn-primary {
  color: #fff;
  background-color: rgba(41, 44, 52);
  border-color: rgba(41, 44, 52);
}
.column-right {
  background-image: linear-gradient(rgba(41, 44, 52, 0), rgba(41, 44, 52, 0.3), rgba(41, 44, 52, 0.6), rgba(41, 44, 52, 0.9), rgba(41, 44, 52, 0.99), rgba(41, 44, 52), rgba(41, 44, 52), rgba(41, 44, 52), rgba(41, 44, 52)), url('https://wallpaperaccess.com/full/3658607.jpg');
  height: 50vh;
  padding: 0%;
  background-attachment: fixed;
  margin-left:16.6%;
  width: 80%;
}
.nav-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.nav-bottom-right{
  margin: 0;
  width: 100%;
  font-Weight: bold;
}
.nav-bottom-right-link{
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
@media (max-width:1199px){
  .column-right{
    margin-left:0;
    top: 7vh;
  }
}