.center-Form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text {
  order: 2;
  flex-grow: 1;
  font-family: Arial;
  font-size: 1rem;
  color: cornsilk;
}

.centeredText{
    width:100%;
    text-align:center;
    padding-top:1rem;
    padding-bottom:1rem;
}

.centeredFields {
    text-align: center;
}

.buttonAlign {
    padding-top: 2rem;
}

.centerSwitchButton {
    position: absolute;
    text-align:center;
}

