.buttonAddToWatchList{
  padding: 0.5rem 1rem;
  margin: 10px;
  width: 100%;
  background-color: rgb(59, 94, 189);
  border-radius: 0.7rem;
  color: white;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  border: 0rem;
}
.buttonAddToWatchList:hover{
  background-color: white;
  color: rgb(59, 94, 189);
}
.rowTab{
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.rowTab2{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.smallTitles{
  order: 1;
  flex-grow: 1;
  font-weight: bold;
  font-family: Arial;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.text{
  order: 2;
  flex-grow: 1;
  font-family: Arial;
  font-size: 1rem;
  color:cornsilk;
}
.spanName:hover {
  cursor: pointer;
  color: rgb(59, 94, 189);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#popADSView{
  background-color: rgba(41, 44, 52);
  width:100%;
  height:100%;
}
#popUpHeader{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
}
.popUpName {
  font-family: Arial;
  font-size: 2rem;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-weight: bold;
  order: 0;
  flex-grow: 10;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
}
.popUpDate{
  font-family: Arial;
  font-size: 1.3rem;
  color: white;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  margin-bottom: 0px;
  text-align: center;
}
.popUpBio{
  font-family: Arial;
  font-size: 1rem;
  color: rgba(41, 44, 52);
  text-align: left;
  background-color: #e7e7e7;
  padding: 0.5rem 1rem;
  width: fit-content;
}
.birthDate{
  order: 2;
  flex-grow: 1;
}
#popUpBody{
  background-color: rgba(41, 44, 52);
  height: fit-content;
  width: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.imagePoster{
  width: 20%;
  border: 0.1rem solid black;
  background-color: black;
  flex-grow: 1;
}
.columnPopUp{
  flex-grow: 1;
  width: 80%;
}
@media (max-width:1199px){
  #popUpBody{
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .columnPopUp{
    width: 100%;
  }
  .imagePoster{
    width: 30%;
    margin: 10px;
  }
  .popUpBio{
    font-family: Arial;
    font-size: 1rem;
    color: rgba(41, 44, 52);
    text-align: left;
    background-color: #e7e7e7;
    padding: 0.5rem 1rem;
    width: fit-content;
  }
}