.column-left {
  height: 100%;
  z-index:1;
  background-image: radial-gradient(circle at top left,rgb(226, 226, 144),rgb(69, 73, 83),rgba(41, 44, 52),rgba(41, 44, 52));
} 
.nav-center2{
  margin: 0;
  position: relative;
  padding: 10px;
  top: 10vh;
  z-index: 0;
  right: 5%; 
  width: 16.5vw;
}
/* .has-search .form-control {
  padding-left: 1.575rem;
  color:#D3D3D3;
  background: none;
  border: none;
}
.form-control::placeholder{
  color:#D3D3D3;
  font-size: 1.25rem; 
}
.input-group{
  background: none;
  border-radius: 50px;
  border: 2px  solid #D3D3D3;
  outline: 0;
}
.advbutt{
  border-radius:50px;
  background: none;
  color:#D3D3D3;
  border: none;
  font-size:1rem ;
  border-left: 2px  solid #D3D3D3;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #D3D3D3;
  font-size: 1.15rem;
} */
.linkClass{
  text-decoration:none;
  color:#D3D3D3;
  display:block;
  padding: 12px;
  position:relative;
  width: 10vw;
  font-size: 1.20rem;
  right: 2.5vw;
  font-family: Arial;
}
.column-left a{
  text-decoration: none;
}
.column-left .linkClass:hover{
  color:white;
  text-decoration:none;
  /* text-shadow:2px 2px 5px #FFFF99; */
}
.inputClass{
  height:4vh; 
  box-sizing: border-box;
  position:relative;
  background: none;
  border: none; 
  border-bottom: 2px  solid #D3D3D3 ;
  background: none;
  width:8vw;
  color: #D3D3D3;
  outline: none; 
  font-family: Arial;
}
::placeholder{
  color:#D3D3D3;
  line-height: 2;
  font-size: 1.25rem; 
}
.advButton{
  color:#D3D3D3;
  border: 2px solid #D3D3D3;
  width:auto;
  background:none;
  outline: 0;
  height: 2.5rem;
  border-radius: 12px;
  text-align: center;
  display:inline; 
  font-family: Arial;
  font-size: 0.9rem;
}
.logo{
  width:10vw;
  border: 0;
  outline: 0;
  background:none;
  position: relative;
  top:2vh;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  margin-right:15vw;
  filter: drop-shadow(2px 2px 3px #000000);
} 
.fa-cog{
  color:#ffffff;
  font-size:1.15rem;
}
.column-left span{
  margin-left: 6px;
}
.login-Button{
  background:none;
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  padding: 8px;
  text-align: center;
  display:inline-block;
  font-size: 1rem;
  position: relative;
  width:10vw;
  outline: none;
  margin-top: 5vh;
  margin-left: 0.2vw;
  font-family: Arial;
}
.checkbtn{
  font-size:25px ;
  line-height: 40px;
  cursor:pointer;
  display: none;
  color: #ffffff;
  font-family: Arial;
}
#check{
  display: none;
}
/* @media (max-width:1700px){
  .login-Button{

  }
} */
@media (max-width:1199px){
  .checkbtn{
    display: block; 
    width: 7%;
  }
  .column-left{
    background-color: #282828;
    transition: all .5s;
    height:8vh;
    margin: 0;
    width: 100%;
  }
  .logo{
    display: none;
  }
  .fa-cog{
    display: none;
  }
  .column-left a{
    font-size: 1.1rem;
    top:10px;
    background:none;
    margin: 0;
  }
  .login-Button{
    top:-1vh;
    border: none;
    font-size: 1.1rem;
    border-radius: 0;
    margin-left:0;
    padding: 0;
    text-align: left;
  }
  ::placeholder{
    color:#D3D3D3;
    font-size: 1rem;
  }
  .inputClass{
    width: auto;
    top:-1vh; 
    left: 10vw;
  }
  .advButton{
    bottom:1vh;
    height:2rem ;
    position: relative;
    width: auto;
    display: inline;
    margin-top: 3vh;
    margin-left: 12vw;
  } 
  .column-left nav :not(.fa-cog,.advButton,.inputClass){
    width: 100vw;
  }  
  .nav-center2 {
    left:100%;
  }
  #check:checked ~ .nav-center2{
    left:0;
    display: block;
    background-color:rgba(0,0,0,0.6);
    top: 7%;
    z-index: 1;
    width: 100%;
  } 
}  