.poster {
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    box-shadow: 0 0 1rem black;
}
svg {
    position: absolute;
    bottom: 43%;
    right: 43%;
    width: 30px;
}
polygon {
    fill: white;
    stroke: rgba(41, 44, 52);
    stroke-width: 1;
}
.title {
    color: white;
    font-family: Arial;
    font-size: 1.2rem;
    text-shadow: -1px 1px 10px white;
    text-align: center;
    padding-top: 0.3rem;
}