/* Provide sufficient contrast against white background */
code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.column-left {
  background-color: #61dafb;
  border: 2px solid;
  height: 100vh;
}

.column-right {
  background-image: linear-gradient(rgba(41, 44, 52, 0), rgba(41, 44, 52, 0.3), rgba(41, 44, 52, 0.6), rgba(41, 44, 52, 0.9), rgba(41, 44, 52, 0.99), rgba(41, 44, 52), rgba(41, 44, 52), rgba(41, 44, 52), rgba(41, 44, 52)), url('https://wallpaperaccess.com/full/3658607.jpg');
  height: 50vh;
  padding: 0%;
  background-attachment: fixed;
}

.nav-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.nav-bottom-right{
  margin: 0;
  text-align: center;
  width: 100%;
  height: 10vh;
  color: #ede6c4;
  font-family: "Arial";
  font-Size: 1rem;
  font-Weight: bold;
  text-Shadow: 1px 5px 5px rgba(127, 113, 47), 0 0 20px rgba(127, 113, 47), 0 0 30px rgba(48, 43, 18, 1);
}

