/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.column-left {
  background-color: #61dafb;
  border: 2px solid;
  height: 100vh;
}

.column-right {
  background-image: linear-gradient(rgba(41, 44, 52, 0), rgba(41, 44, 52, 0.3), rgba(41, 44, 52, 0.6), rgba(41, 44, 52, 0.9), rgba(41, 44, 52, 0.99), rgba(41, 44, 52), rgba(41, 44, 52), rgba(41, 44, 52), rgba(41, 44, 52)), url('https://wallpaperaccess.com/full/3658607.jpg');
  height: 50vh;
  padding: 0%;
  background-attachment: fixed;
}

.nav-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.nav-bottom-right{
  margin: 0;
  text-align: center;
  width: 100%;
  height: 10vh;
}

.carousel-bottom-right{
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
}

.carousel-bottom-right > * {
  grid-column: 2 / -2;
}

.carousel-bottom-right > .full {
  grid-column: 1 / -1;
}

.table-bottom-right{
  text-align: center;
  border-top-style: hidden !important;
}

.container-bottom-right{
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);
  place-items: center;
  list-style: none;
  padding: 0;

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.container-bottom-right:before,
.container-bottom-right:after {
  content: '';
  width: 10px;
}

.items-bottom-right{
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.images-bottom-right{
  max-width: 200px;
  height: auto;
}
