.column-left {
  background-image:url("./images/blur-background12.jpg");
  height: 100vh;
} 
   
.nav-center2{
    margin: 0;
    position: fixed;
    padding: 10px;
    top: 25%;
    z-index: 0;
  } 

  .column-left a{
    text-decoration:none;
    color:#D3D3D3;
    display:block;
    padding: 12px;
    position:relative;
    width: 10vw;
    right: 3%;
    font-size: 1.20rem;
    
  }
  .column-left a:hover{
    color:#DCDCDC;
    text-shadow:2px 2px 5px #FFFF99;
  }

  .inputClass{
    height:4vh;
    box-sizing: border-box;
    position:relative;
    display:inline-block;
    background: none;
    border: none; 
    border-bottom: 2px  solid #D3D3D3 ;
    background: none;
    width: 8.5%;
    color: #D3D3D3;
    margin-left:0.1vw;
    outline: none;
  }

  ::placeholder{
    color:#D3D3D3;
    line-height: 2;
    font-size: 1.25rem; 
}

.advButton{
  color:#D3D3D3;
  border: 2px solid #D3D3D3;
  width:auto;
  background:none;
  outline: 0;
  height: 2.5rem;
  margin-left:0.2vw;
  border-radius: 50px;
  padding:8px ;
  text-align: center;
  padding-top:0.5vh; 
}

.logo{
  width:6vw; 
  height:7vh;
  border: 0;
  outline: 0;
  background:none;
  position: relative;
  top:12vh;
  float: left;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

.fa-cog{
  color:#D3D3D3;
  font-size:1.15rem;
}

.column-left span{
  margin-left: 4px;
  bottom: -2px;
  position: relative;
}

.login-Button{
  background:none;
  border: 2px solid #D3D3D3;
  border-radius: 12px;
  color: #D3D3D3;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 1rem;
  position: relative;
  width:12%;
  outline: none;
  left:-1.7%;
  margin-top: 5vh;
}

.checkbtn{
  font-size:25px ;
  float:right;
  line-height: 40px;
  cursor:pointer;
  display: none;
  color: #D3D3D3;
}

#check{
  display: none;
} 

 @media (max-width:1675px){
   .advButton{
     display: block;
     margin-top: 1vw;
   }
 }

 @media (max-width:1199px){
  .checkbtn{
    display: block;
    background-color: black;
  }
  .column-left{
    background:none;
    background-color: black;
    transition: all .5s;
    height:8vh;
    margin: 0;
    width: 180%;
       
  }
  .logo{display: block;}

  .fa-cog{display: none;}
  .column-left a{
    font-size: 1.1rem;
    top:10px;
    background:none;
   margin: 0;
   
  }

  .login-Button{
    top:-1vh;
    border: none;
    font-size: 1.1rem;
    border-radius: 0;
    margin-left:0;
    padding: 0;
    margin-top: 5%;
    text-align: left;

  }

  ::placeholder{
    color:#D3D3D3;
    font-size: 1rem;
  }

  .inputClass{
    width: auto;
    top:-1vh; 
    left: 10vw;}

   .advButton{
    bottom:1vh;
    height:2rem ;
    margin-left: 2.5rem;
    position: relative;
    width: auto;
    display: inline;
   } 
 
    .column-left nav :not(.fa-cog,.advButton,.inputClass){
      width: 100%;
    }  

    .nav-center2 {
      left:100%;
    }

   #check:checked ~ .nav-center2{
     left:0;
     display: block;
     background-color:rgba(0,0,0,0.6);
     top:7.5%;
     margin-right:60vw;
     z-index: 1;
     text-align: justify;
     justify-items: center;
     margin-top: 0;
   }
} 